a {
    color: red;
    font-size:14px;
    font-weight:700
    
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }
  .n1{
    background-color: transparent;
    font-size: 16px;
    color:#49557e ;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition-property: 0.3s;
    list-style: none;
  }
  .n1:hover{
    background-color: #fff4f2;
  }
  li{
    cursor: pointer;
  }
 
  .dot{
    position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color: tomato;
   border-radius: 5px;
   top: -8;
   right: -8;
  }
  .n2{
    position: relative;
  }
  .navbar-profile{
    position: relative;
  }
  .navbar-profile-dropdown{
    position: absolute;
 
    display: none;
    right: 0;
    z-index: 1;
  }
  .navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    gap: 10px;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;

  }
  .navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .navbar-profile-dropdown img{
    width: 20px;
  }
  .navbar-profile-dropdown li:hover{
    color: tomato;
  }